apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-exporter.fullname" . }}
  labels:
    {{ include "cert-exporter.certManagerDeploymentLabels" . | nindent 4 }}
spec:
  type: {{ .Values.certManagerDeployment.service.type }}
  ports:
    - port: {{ .Values.certManagerDeployment.service.port }}
      name: {{ .Values.certManagerDeployment.service.portName }}
      targetPort: 8080
  selector:
    {{ include "cert-exporter.certManagerDeploymentSelectorLabels" . | nindent 6 }}
